* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // Sets up the Base 10 stuff
}
body {
  margin: 0;
  background-color: #111;
  color: #EFEFEF;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background: linear-gradient(#111, transparent);
}
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header > nav > em > a {
  font-size: 20px;
  font-size: 2.0rem;
  color: white;
}
header > nav > a {
  font-size: 16px;
  font-size: 1.6rem;
  color: white;
}
main {
  position: relative;
  overflow: hidden;
}
main > article {
  position: relative;
  padding: 90px 0;
}
main > article > section {
  opacity: 0;
  position: absolute;
  width: 100%;
  transition:
    opacity 0.35s ease-in-out,
    transform 0.35s ease-in-out;
}
@media (min-width: 768px) {
  main > article > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
main > article > section#h {
  transform: translateY(-72px);
}
main > article > section#w {
  transform: translateY(72px);
}
main > article > section#a {
  transform: translateX(-72px);
}
main > article > section#c {
  transform: translateX(72px);
}
[data-no-js="true"] main > article > section.is-active,
main > article > section.is-active {
  position: relative;
  opacity: 1;
  transform: translate(0) !important;
}
main > article > section > h1 {
  max-width: 90%;
  margin: 0 auto;;
  font-size: 68px;
  font-size: 7.2rem;
  text-align: justify;
}
@media (min-width: 768px) {
  main > article > section > h1 {
    max-width: 80%;
    font-size: 128px;
    font-size: 12.8rem;
  }
}
main > article > section > div {
  max-width: 600px;
  margin: 0 auto;;
  text-align: center;
}
main > article > section div > h2 {
  font-size: 60px;
  font-size: 4.8rem;
  line-height: 54px;
  line-height: 5.4rem;
}
main > article > section div > h2 > em {
  display: block;
  font-style: italic;
}
main > article > section > div > p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2.0rem;
}
main > article > section > div > hr {
  width: 100%;
  height: 1px;
  margin: 30px auto;
  background-color: white;
}
main > article > section > div > form {
  display: flex;
  justify-content: center;
  max-width: 550px;
  margin: 0 auto;;
}
main > article > section > div > form > [type="email"],
main > article > section > div > form > [type="submit"] {
  line-height: 30px;
  padding: 0 15px;
  border: 0;
  background-color: #FFF;
  -webkit-appearance: none;
}
main > article > section > div > form > [type="submit"] {
  border-left: 1px solid #111;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, #111);
  text-align: center;
}
